<h1>A world class ERP system for Schools</h1> 
<p> 
This app is developed with RoR and hosted on Heroku by taking help from this 
<a href="http://www.railstutorial.org/">Tutorial</a> 
. 
</p> 
<%= link_to "Explore More!", '#', :class => "signup_button round" %>
